{% extends 'index.html' %}

{% block title %} Update {% endblock %}


{% block content %}

<div class="mt-6 flex flex-col items-center justify-center px-6 py-8 mx-auto">
    <div class="w-full rounded-lg max-w-md bg-oscuro">
        <div class="p-6 space-y-4">
            <h1 class="text-xl text-center font-mono font-semibold text-claro">
                Update Room
            </h1>

            <form class="space-y-4" method="POST">

                {% csrf_token %}

                {% for field in form %}

                <div>
                    <label class="block mb-2 text-sm font-mono text-claro">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>

                {% endfor %}

                <div class="text-center">
                    <button type='submit' class="px-5 py-3 font-mono text-center text-negro rounded-lg bg-rosa">
                        Save Changes
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}