<footer class="footer p-4 bg-claro shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="p-2 text-center font-mono font-semibold leading-tight tracking-tight text-claro ">© 2022 <a href="https://techconagust.com/" class="hover:underline">Tech con agust</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-claro dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class=" p-2 text-center font-mono font-semibold leading-tight tracking-tight text-claro ">About</a>
        </li>
        <li>
            <a href="#" class=" p-2 text-center font-mono font-semibold leading-tight tracking-tight text-claro">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class=" p-2 text-center font-mono font-semibold leading-tight tracking-tight text-claro">Licensing</a>
        </li>
       
    </ul>
</footer>